

<link rel="stylesheet" href="{{ url_for('static',filename='styles/home__.css')}}">

<form action="http://localhost:5000/status" method="post">
<h3 class="moto">Verify Limitless</h3>
<input type="text" name="email" class="in_box">
</form>



<style type="text/css">
.moto {
    color: grey;
    font-size: 50px;
    margin: 140px 140px 75px 140px;
    padding: 0;
}

.in_box {
    margin: 10px 85px;
    padding: 10px 60px;
    font-size: 30px;
    font-family: Expletus sans-serif;
}
.html {
    margin: 0 74px;
}

</style>